{% extends 'base.html' %}

{% block content %}

    <h1 class="title is-1">Status 400: Bad Request</h1>

    <div>
        <p>
            The server cannot or will not process the request due to something that is
            perceived to be a client error (e.g., malformed request syntax, invalid request
            message framing, or deceptive request routing).
        </p>
    </div>
    <div>
    <br><br>
        <a HREF="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/400">You can find more information about this
        by clicking here.</a>
    </div>

{% endblock %}
