{% extends 'base.html' %}

{% block content %}

    <h1 class="title is-1">Status 404: Page Not Found</h1>

    <div>
        <p>
            The server cannot find the requested resource. In the browser,
            this means the URL is not recognized. In an API, this can also
            mean that the endpoint is valid but the resource itself does not exist.
            Servers may also send this response instead of 403 Forbidden to hide
            the existence of a resource from an unauthorized client. This response
            code is probably the most well known due to its frequent occurrence on the web.
        </p>
    </div>
    <div>
    <br><br>
        <a HREF="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404">You can find more information about this
        by clicking here.</a>
    </div>

{% endblock %}